

@media (max-width: 767px) {
  .container {
    padding: 10vw;
    flex-direction: row;
 
  }
   
    .target {
    
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        display: flex;
        top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        
        }
        .table{
          margin-top: 10vw; 
                  display: flex;
                }
       
      }
  
      @media (min-width: 768px) {
        .container {
          padding-top: 1vw;
          padding-bottom: 2vw;
          flex-direction: row;}
  
        .target {
          margin-top: 2vw;
        
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            display: flex;
            top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
            justify-content: center;
            align-items: center;
            }
  
            .table{
                margin: 1vw 0; 
              display: flex;
              
                      }
          }
        .circle {
          position: absolute;
          box-sizing: border-box;
        }
        
        .circle-0 {
          width: 170%;
          height: 170%;
          background-color: #a4eafc;
        }
        .circle-1 {
          width: 100%;
          height: 100%;
          background-color: #62c5f3;
          border-radius: 50%;
        }
        
        .circle-2 {
          width: 82%;
          height: 82%;
          top: 8.9%;
          left: 8.9%;
          background-color: #a4eafc;
          border-radius: 50%;
        }
        
        .circle-3 {
          width: 66%;
          height: 66%;
          top: 16.8%;
          left: 16.8%;
          background-color: #62c5f3;
          border-radius: 50%;
        }
        
        .circle-4 {
          width: 57%;
          height: 57%;
          top: 21.2%;
          left: 21.2%;
          background-color: #a4eafc;
          border-radius: 50%;
        }
        
        .circle-5 {
          width: 40%;
      height: 40%;
      top: 29.8%;
      left: 29.8%;
          background-color: #62c5f3;
          border-radius: 50%;
        }
        
        .circle-6 {
          width: 20%;
      height: 20%;
      top: 39.8%;
      left: 39.8%;
          background-color: #a4eafc;
          border-radius: 50%;
        }
        
        .point {
            width: 7px;
            height: 7px;
            background-color: rgb(255, 0, 0);
            border-radius: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(9, 73, 0);
            box-sizing: border-box;
          }
    
          
                    button.delete-button {
            color: #000000;
                      border-bottom: 5px solid #bd0000;
         
          }
          button.delete-button:hover {
            margin-top: 3px;
            color: #fff;
            background: #eb0000;
            border-bottom: 2px solid #bd0000;
            
          }
          button.btn--shadow {
            -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            
          }

          .heading-normal{
            font-size: 125%;
            font-weight: bold;
            line-height: 170%;
            color:  #e2750f;
            border-bottom: 2px solid #e2750f;
            margin: 20px 0 15px;
          }

          button.submit-button {
         
            margin-top: 3px;
            color: #fff;
            background-color: #51a351;
            border-bottom: 2px solid #326e32;
        }   
        button.submit-button:hover {
          margin-top: 3px;
          color: #fff;
          background: #51a351;
          border-bottom: 2px solid #326e32;
          
        }